*{
    margin: 0;
    font-family: sans-serif;
}
.navigation{
padding-top: 20px;
max-width: 1200px;
margin: 0 auto;

}
.logo-none{
    display: none;
}
.menu{
    display: flex;
    justify-content: center;
   
    align-items: center;
}
.logo-menu{
    font-size: 25px;
    font-weight: 600;
    list-style: none;
}
.text-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 400px;
}
.number-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    text-align: end;
    padding-bottom: 20px;

}
.text-li{
    font-size: 12px;
}
.hero{
    color: white;
    background-image: url("01.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 800px;
}

.box-hero{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero h1{
    display: flex;
    justify-content: center;
    align-items: center;
font-size: 60px;
font-weight: 600;
margin-top: 270px;
}
.hero p{
    color: rgba(255, 255, 255, 0.727);
     display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 25px;
}
.box-btn{
 display: flex;
justify-content: center;  
gap: 20px;
}
.btn1{
   font-size: 15px;
 color: white;
    background-color: #FB8500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn2{
     font-size: 15px;
     color: #FB8500;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.finish-text-hero{
    color: rgba(255, 255, 255, 0.711);
font-size: 13px;
text-align: center;
}
.bottom{
    width: 40px;
    display: flex;
    justify-content: center;
  margin-left: 48%;
  margin-top: 22vh;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 600px){
.text-menu{
display: none;
}
.logo-none{
    position: relative;
    top: -30px;
    display: flex;
    width: 150px;
    display: flex;
    justify-content: center;
    
}

.logo-menu{
    display: none;
}
.number-menu{
    display: none;
}
.hero{
    
    width: 394px;
}
.box-hero h1{
   font-size: 20px; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.box-hero p{
   font-size: 10px; 
   display: flex;
   justify-content: center;
   align-items: center;
}

}